<!doctype html>
<html lang="en">

<head>
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container pt-4 pb-2">
        <ul class="nav justify-content-end ">
            <li class="nav-item">

                {% if user.username %}
                <h3> Hello, {{ user.username }}</h3>
                {% else %}
                <h2>Hello Visitor </h2>
                {% endif %}

            </li> <br>
            <li class="nav-item ml-4 ">
                {% if user.username %}
                <p><a class="btn btn-primary" href="{% url 'logout' %}">Log out</a></p>
                {% endif %}
            </li>
        </ul>
        <hr>
    </div>

    <div class="container-fluid bg-primary">
        <div class="container pt-3 pb-3">
            <h1>
                {% block heading %}
                {% endblock heading %}
            </h1>
        </div>
    </div>
    {% block body %}

    {% endblock %}
</body>

</html>