{% extends 'useraccounts/base.html' %}


{% block title %}
{{ user.username }} loged in successfully
{% endblock title %}


{% block heading %}
<h1 class="text-white">Select Databases | RTC LAB INFOBASE</h1>
{% endblock heading %}

{% block body %}

<div class="container">
    <br>
    <div class="equipment">
        <a href="{% url 'equipment' %}">
            <h4>
                Equipment Database
            </h4>
        </a>
    </div>
    <hr>
    <div class="reagent">
        <a href="{% url 'reagent' %}">
            <h4>
                Reagent Database
            </h4>
        </a>
    </div>
    <hr>

</div>


{% endblock body %}