{% extends 'equipment/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Equimpment | RTC LAB INFOBASE
{% endblock title %}


{% block heading %}
<h1 class="text-white container">Equimpment | RTC LAB INFOBASE</h1>
{% endblock heading %}


{% block body %}
<div class="container-fluid pt-4 pb-2">
    <div class="container">
        <a class='btn btn-dark' href="{% url 'create_new_equipment' %}">Create New Equipment Record</a>
        <a class='btn btn-dark' href="#">Download XLSC</a>
    </div>
    <br>

    {% if equipments %}
    <div>
        <h3>List of equipment</h3>
        <p>Click the name of each equimpment under the name column to edit, delete it from the record</p>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lab Id</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">Marker</th>
                <th scope="col">Supplied on</th>
                <th scope="col">Location in Lab</th>
                <th scope="col">Serviced on</th>
                <th scope="col">Next Service</th>
                <th scope="col">Caliberated on</th>
                <th scope="col">Next Caliberation</th>
                <th scope="col">Serviced by</th>
                <th scope="col">Entry by</th>
                <th scope="col">Caliberated by</th>
                <th scope="col">In use by</th>
                <th scope="col">Project</th>
            </tr>
        </thead>

        <tbody>
            {% for equipment in equipments %}
            <tr>
                <th scope="row">{{equipment.id}}</th>
                <td>{{equipment.lab_id}}</td>
                <th><a href="{% url 'edit_equipment' equipment.id %}"> {{equipment.name}} </a></th>
                <td>{{equipment.model}}</td>
                <td>{{equipment.marker}}</td>
                <td>{{equipment.data_supplied}}</td>
                <td>{{equipment.location_in_lab}}</td>
                <td>{{equipment.date_serviced}}</td>
                <td>{{equipment.next_service_date}}</td>
                <td>{{equipment.date_caliberated}}</td>
                <td>{{equipment.next_caliberation_date}}</td>
                <td>{{equipment.company_that_serviced}}</td>
                <td>{{ user.username }}</td>
                <td>{{equipment.company_that_caliberated}}</td>
                <td>{{equipment.using_personel}}</td>
                <td>{{equipment.project}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <div class="container">
        <br>
        <h3>No Equipment Records</h3>
        <hr>
        <h5>
            Please click the "create new equipment record" button to create
            a
            record
        </h5>
    </div>



    {% endif %}
</div>

{% endblock body %}