{% extends 'flights/base.html' %}

{% block title %}
Flight Details
{% endblock title %}


{% block heading %}
Details for Flight No: #000{{ flight.id }}
{% endblock heading %}

{% block body %}
<div class="container pt-4 pb-2">
    <h3>Quick Info</h3>
    <hr>
    <h5> Origin: {{ flight.origin }}</h5>
    <h5> Destination: {{ flight.destination }}</h5>
    <h5> Duration: {{ flight.duration }}</h5>
    <h5> Total Booked Passengers: #{{ total_passengers_booked }}</h5>
    <h5> Total Passengers: #{{ total_passengers }}</h5>
</div>

<div class="container pt-4 pb-2">
    <h3>Passengers</h3>
    <hr>
    {% for passenger in passengers %}
    <h5> {{ passenger }}</h5>
    {% empty %}
    <h5>There are no passengers</h5>
    {% endfor %}
    <br>
    <hr>
    <h3>Add Passenger</h3>
    {% if non_passengers %}
    <form action="{% url 'book' flight.id %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Select a passenger</label>
            </div>
            <select name="passenger" id="inputGroupSelect01" class="custom-select">
                {% for passenger in non_passengers %}
                <option value="{{ passenger.id }}">{{ passenger }}</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
        <div class="">There are no passengers to add </div>
        {% endif %}
        <input class="btn btn-info" type="submit" value="Book Flight">
    </form>

    <br><br>
    <a class="btn btn-success" href="{% url 'index' %}"> Back to Flight Listing
    </a>
</div>
{% endblock body %}